.row p {
  font-size: 1.25em;
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 400px;
  width: 100%;
}

.row .feed {
  text-align: left;
  margin-right: 1rem;
}

.row .btn-wrapper {
  flex: 1;
  text-align: right;
}

.row .btn {
  background-color: maroon;
  text-transform: none;
  margin: 0;
}

.row .btn:focus,
.row .btn:hover {
  background-color: white;
}

/* Mobile */
@media (max-width: 37.5em) {
  .row {
    padding: 1rem 2rem;
  }
}
