.audio-player-wrapper {
  background-color: var(--blue);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.audio-player-wrapper .btn {
  margin: 0;
  margin-bottom: 0.5rem;
  min-width: 100px;
  background-color: var(--light-blue);
}

.audio-player-wrapper .btn + .btn {
  margin-left: 0.5rem;
}

.audio-player-wrapper .btn i {
  font-size: 2.5em;
}

.audio-player-wrapper .btn:hover,
.audio-player-wrapper .btn:hover i {
  color: var(--blue);
}

.custom-audio-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue);
  padding: 0 1rem;
}

/********** Range Input Styles **********/
/*Range Reset*/
.custom-audio-controls input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 75px;
  border: none;
}

/* Removes default focus */
.custom-audio-controls input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
.custom-audio-controls input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--light-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.custom-audio-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: var(--baby-blue);
  height: 2rem;
  width: 1rem;
}

.custom-audio-controls input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--light-blue);
  outline: 3px solid var(--light-blue);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
.custom-audio-controls input[type="range"]::-moz-range-track {
  background-color: var(--light-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.custom-audio-controls input[type="range"]::-moz-range-thumb {
  border: none; /* Removes extra border that FF applies */
  border-radius: 32px;
  background-color: var(--baby-blue);
  height: 2rem;
  width: 1rem;
}

.custom-audio-controls input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--light-blue);
  outline: 3px solid var(--light-blue);
  outline-offset: 0.125rem;
}

.audio-time {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 20px;
}

.audio-time span {
  color: var(--off-white);
}

.play-pause-btn {
  background-color: transparent;
  color: var(--off-white);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
}

.play-pause-btn:focus {
  background-color: var(--light-blue);
  outline: 5px solid var(--light-blue);
  border-radius: 4px;
}

.audio-player-wrapper .btn:focus {
  background-color: var(--light-blue);
  color: var(--off-white);
}

/* Mobile */
@media (max-width: 37.5em) {
  .audio-player-wrapper .btn:hover i {
    color: var(--off-white);
  }

  .custom-audio-controls {
    gap: 0.75rem;
    padding: 0 0.5rem;
    padding-bottom: 2rem;
  }

  .audio-time {
    gap: 0.25rem;
    font-size: 14px;
  }

  .custom-audio-controls input[type="range"] {
    display: none;
  }
}
