.audio-player-wrapper .btn i {
  font-size: 2.5em;
}

.audio-player-wrapper .btn:hover,
.audio-player-wrapper .btn:hover i,
.audio-player-wrapper .btn:focus i {
  color: var(--blue);
}

.audio-player-wrapper .btn:focus {
  background-color: var(--off-white);
  color: var(--blue);
}

audio {
  margin-bottom: 3rem;
  width: 90%;
  scale: 1.2;
}

audio:focus {
  border: 3px solid var(--blue);
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1.25rem;
}

.btn {
  margin: 2rem 0 4rem 0;
  min-width: 100px;
}

.btn + .btn {
  margin-left: 0.5rem;
}
