---
import Subscriptions from "components/Subscriptions.astro";
import { SubscriptionForm } from "components/SubscriptionForm";
import Layout from "layouts/Layout.astro";
import { getAuthToken } from "utils/getAuthToken";

const token = getAuthToken(Astro.cookies);
---

<Layout title="Manage Feed">
  {
    token && (
      <section>
        <SubscriptionForm token={token} client:visible />
      </section>
    )
  }
  <section>
    <Subscriptions />
  </section>
</Layout>

<style>
  * {
    text-align: center;
  }
</style>
