---
import Subscriptions from "../components/Subscriptions.astro";
import SubscriptionForm from "../components/SubscriptionForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Manage Feed">
  <section>
    <SubscriptionForm />
  </section>
  <section>
    <Subscriptions />
  </section>
</Layout>

<style>
  * {
    text-align: center;
  }
</style>
