---
import { getAuthToken } from "utils/getAuthToken";
import { RenewNotificationSubscription } from "./RenewNotificationSubscription";
import { ThemeToggle } from "./ThemeToggle";

const token = getAuthToken(Astro.cookies);
const isAuthenticated = !!token;

const baseApiUrl = import.meta.env.PUBLIC_BASE_API_URL;
const loginUrl = `${baseApiUrl}/auth/github`;
---

<script>
  import { logout } from "utils/logout";

  const logoutButton = document.getElementById("logoutButton");

  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }
</script>

<nav>
  <h1>
    <a data-test-id="home-link" href="/">FeedMe</a>
  </h1>

  {
    isAuthenticated && (
      <div class="auth-nav">
        <RenewNotificationSubscription client:only="react" />

        <ThemeToggle client:only="react" />

        <ul>
          <li>
            <a data-test-id="manage-feeds-link" href="/manage">
              Manage Feeds
            </a>
          </li>
        </ul>

        <button id="logoutButton" class="btn logout-btn">
          Logout
        </button>
      </div>
    )
  }

  {
    !isAuthenticated && (
      <a data-test-id="nav-login-link" href={loginUrl}>
        Login with Github
      </a>
    )
  }
</nav>

<style>
  @import url("https://fonts.googleapis.com/css?family=Pacifico");

  nav {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  ul {
    display: inline;
  }

  h1 {
    font-family: Pacifico, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: auto 1rem;
    text-align: left;
  }

  .auth-nav {
    display: flex;
    align-items: center;
  }

  .logout-btn {
    background-color: var(--light-blue);
    margin: 0 !important;
  }

  .logout-btn:hover,
  .logout-btn:focus {
    background-color: var(--off-white);
    color: var(--light-blue);
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    nav {
      display: none;
    }
  }
</style>
