---
const baseApiUrl = import.meta.env.PUBLIC_BASE_API_URL;
const loginUrl = `${baseApiUrl}/auth/github`;
---

<div data-test-id="pre-login-home" class="hero-container">
  <p>
    The open source RSS feed reader designed to put <em>you</em> in control of the
    news that's important
  </p>
  <div class="hero-footer">
    <h2>Start curating your newsfeed</h2>
    <a class="btn" href={loginUrl}> Login with Github</a>
  </div>
</div>

<style>
  * {
    text-align: center;
  }

  .hero-container {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20rem;
    width: 75vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(var(--blue), var(--light-blue));
    border-radius: 16px;
  }

  .hero-container p,
  .hero-container h2 {
    color: var(--off-white);
  }


  .hero-title {
    margin: 0;
  }

  .btn {
    text-transform: none;
  }

  /* Mobile */
  @media (max-width: 37.5em) {
    .hero-container {
      height: fit-content;
    }
  }
</style>
