.dark-theme .subscription-list .switch label {
  color: var(--baby-blue);
}

.error {
  color: maroon;
  font-size: 1.5em;
}

.subscription-list .switch label {
  color: var(--dark-blue);
  font-size: 1.2em;
}

.subscription-list .switch label input[type="checkbox"]:checked + .lever {
  background-color: var(--light-blue);
}

.subscription-list
  .switch
  label
  input[type="checkbox"]:checked
  + .lever::after {
  background-color: var(--blue);
}
