.dark-theme .toggles label {
  color: var(--font-color);
}

.dark-theme [type="checkbox"] + span:not(.lever)::before {
  border: 2px solid gray;
}

.dark-theme [type="checkbox"]:checked + span:not(.lever)::before {
  border-color: var(--background-color);
  border-right-color: var(--baby-blue);
  border-bottom-color: var(--baby-blue);
}

.dark-theme .card-panel {
  background-color: var(--off-black);
}

.dark-theme .card-link:hover .card-panel,
.dark-theme .card-link:focus-visible .card-panel {
  background-color: var(--blue);
}

.dark-theme .card-link p {
  color: var(--font-color);
}

.dark-theme .card-panel.unread {
  border-left: 4px solid var(--baby-blue);
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.toggles {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  width: 90%;
  max-width: 750px;
}

.toggles label {
  color: var(--blue);
  font-weight: bold;
}

.input-field {
  display: flex;
  margin: 1rem auto;
  margin-top: 0;
  width: 80%;
  max-width: 400px;
}

[type="checkbox"] + span:not(.lever)::before {
  border: 2px solid var(--blue);
}

[type="checkbox"]:checked + span:not(.lever)::before {
  border-color: var(--background-color);
  border-right-color: var(--blue);
  border-bottom-color: var(--blue);
}

.clear-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-top: 0.25rem;
  margin-left: -2.5rem;
  z-index: 10;
}

.clear-search-btn:focus {
  background: none;
}

.scroll-container * {
  transition: all 0.15s;
}

.controls,
.feed-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 85%;
  max-width: 750px;
  min-height: 4.5rem;
}

.card-link {
  width: 100%;
  outline: none;
}

.card-panel {
  display: block;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.card-link:hover .card-panel,
.card-link:focus-visible .card-panel {
  background-color: #bbbbbb;
}

.card-link p {
  color: var(--blue);
}

.card-panel.unread {
  border-left: 4px solid var(--blue);
  font-weight: bold;
}

.card-panel p {
  margin: 0;
}

.card-panel p + p {
  font-weight: normal;
}

.feed-skeleton {
  display: block;
  margin: 1.5rem auto;
  width: 80%;
  max-width: 750px;
  min-height: 4.5rem;
}

/* Controls */
.btn.control-button {
  background-color: var(--blue);
  margin-bottom: 0;
  margin-top: 0;
}

.btn.control-button:hover,
.btn.control-button:focus {
  color: var(--blue);
  background-color: var(--off-white);
}

.control-button + .control-button {
  margin-left: 1rem;
}

.status-controls {
  display: flex;
  align-items: center;
  flex: 1;
}

.desktop-filter {
  color: var(--blue);
  font-weight: bold;
  margin-left: 1rem;
}

.mobile-filter {
  display: none;
}

.mobile-filter [type="checkbox"] + span:not(.lever) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile */
@media (max-width: 37.5em) {
  .control-button + .control-button {
    margin-left: 0;
    margin-top: 1rem;
  }

  .card-panel:hover,
  .card-panel:focus {
    background-color: initial;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .controls,
  .feed-row {
    width: 90%;
    min-height: 6rem;
  }

  .desktop-filter {
    display: none;
  }

  .mobile-filter {
    display: block;
    min-width: auto;
    margin: 0;
  }

  .btn.mobile-filtered {
    background-color: var(--blue);
    color: var(--background-color);
  }

  .btn.mobile-unfiltered {
    background-color: var(--background-color);
    color: var(--blue);
  }

  .toggles,
  .filter-form .input-field {
    width: 95%;
  }

  .filter-form [type="checkbox"] + span:not(.lever) {
    padding-left: 30px;
  }
}
